body {
    background-color: #000;
}

#screenContainer {
    margin: auto;
    margin-top: 100px;
    width: 640px;
    height: 550px;
    background-color: #668;
    border: #668 solid 5px;
    border-radius: 10px;
    justify-self: center;
}

#screen {
    margin: auto;
    margin-top: 20px;
    width: 600px;
    height: 510px;
    background-color: #102;
    display: grid;
    grid-template-columns: repeat(30, 20px), 200px, 600px;
    position: relative;
}

.tile {
    margin: 0;
    width: 20px;
    height: 30px;
    color: #fff;
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    position: absolute;
}

.status {
    margin: 0;
    width: 600px;
    height: 30px;
    color: #fff;
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    position: absolute;
}

.info {
    margin: 0;
    width: 200px;
    height: 30px;
    color: #fff;
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    position: absolute;
}

.object {
    margin: 0;
    width: 20px;
    height: 30px;
    color: #fff;
    background-color: #102;
    font-family: monospace;
    text-align: center;
    font-size: 20px;
    position: absolute;
}

.hidden {
    color: #102;
}